
# this is the "requirements.txt" file...



requests

#ImportError: Plotly express requires pandas to be installed.

pandas

plotly

python-dotenv

# for web app:
flask
gunicorn




pytest

# using bsoup in testing the web app:
beautifulsoup4 # <-- ADDITION

# for testing:
pytest

